<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <% if (locals.currentUser) { %>
    <h1>Welcome Back <%= locals.currentUser.full_name%></h1>

    <% if (locals.currentUser.membership) { %>
    <ul>
      <%if (messages.length > 0) {%> <% messages.map((message) => { %>
      <li>
        <p><%= message.full_name %> | <%= message.created_datetime %></p>
        <%= message.message %> <br />
        <% if (locals.currentUser.admin) { %>
        <form action="/messages/<%= message.id %>/delete" method="POST">
          <input type="hidden" name="delete" value="<%= message.id %>" />
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </li>
      <% }) %> <% } else { %>
      <li>There are no messages.</li>
      <% } %>
    </ul>

    <form action="/messages" method="POST">
      <label for="message">Message: </label><br />
      <textarea
        id="message"
        name="message"
        placeholder="Enter Message"
      ></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
    <% } else { %>
    <form action="/members-only/join" method="POST">
      <label for="passcode">Secret Passcode: </label><br />
      <input
        type="text"
        id="passcode"
        name="passcode"
        placeholder="Enter Passcode Here"
      /><br />
      <button type="submit">Submit</button>
    </form>
    <% } %> <% } %> <% if (locals.errors) {%>
    <ul>
      <%errors.forEach((error)=>{%>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <a href="/log-out">Log out</a>
  </body>
</html>
